body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.container{
  padding: 30px 80px;
}

.frame{
  border: solid 2px red;
  padding: 15px;
}

.lista{
  width: 50%;
  display: inline-block;
}

.view{
  display: inline-block;
  margin-top: 0;
}

nav{
  float: right;
}

.displayNone{
  visibility: hidden;
}